@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Source Han Sans SC VF";
    src: local("Source Han Sans SC VF"), url("/font/SourceHanSansSC-VF.otf.woff2");
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

    @apply antialiased;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    @apply bg-primary-100;
}